################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SSO/SSO.WCFService/packages/EntityFramework.5.0.0/Content
/SSO/SSO.WCFService/packages
/SSO/SSO.WCFService/SSO.WCFService/obj/Debug
