SSO/SSO.WCFService/.vs/SSO.WCFService
SSO/SSO.WCFService/SSO.WCFService/bin/
SSO/SSO.WCFService/SSO.WCFService/obj/
SSO/SSO.WCFService/packages
**/bin/
**/obj/

WebAPP/.tmp
WebAPP/node_modules
WebAPP/bower_components
