{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true
  },
  rules:{
      "angular/controller-as-route": 0,
      "angular/controller-name": [2,"/[A-Z].*Ctrl/"],
      "angular/controller-as-vm": 0,
      "angular/controller-as": 0,
  }
}
