<div class="container">
    <div class="register-panel col-md-6 col-md-offset-3">
       
       
      <form name="sForm" class="form-sue form-sue-g" ng-submit="searchUsers()" novalidate>
        <div class="f-group">
          <h1>Pronađi korisnika</h1>
        </div>

        <div class="f-group">
           <input type="text" class="f-ctrl" id="search"
             name="search" ng-model="search.string" placeholder="Korisničko ime...">
        </div>
        
        
        <div class="f-group">
        <button type="submit" class="f-btn f-btn-fill pull-right" name="button"><!--
        --><span>Traži</span> <img class="spinner" src="/assets/spinners/ring.svg" alt="waiting..." ng-show="showSpin"><!--
        --></button>

        </div>
      </form>

      <div class="manage-users-result" ng-if="!showSelectedUser">
          <h3>Pronađeni korisnici</h3>
          <div class="found-user" ng-show="foundUsers.length == 0">
              <em>Nema pronađenih korisnika</em>
          </div>
          <div class="found-user" ng-repeat="user in foundUsers track by $index" ng-click="selectUser(user)">
              <div class="container-fluid">
               
              <div class="col-md-6">
                  <div class="username">{{user.Username}}</div>
                <div class="roles">
                    <div class="badge" ng-repeat="role in user.Roles">{{role}}</div>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="fullname">{{user.FirstName}} {{user.LastName}}</div>
                  <div class="email">{{user.Email}}</div>                  
              </div>
              
                  
              </div>
          </div>
      </div>
    
      <div class="selected-user" ng-if="showSelectedUser">
          <h3>Uredi korisnika</h3>
          <h3>{{selectedUser.Username}} <span class="badge" ng-repeat="role in selectedUser.Roles">{{role}}</span></h4>
          
            
          <div class="manage-roles">
             
              <table class="table" ng-show="!showChangePass">
                  <thead>
                    <tr>
                        <th class="col-md-6">Privilegija</th>
                        <th class="col-md-6"></th> 
                    </tr>
                  </thead>
                <tbody>
                    <tr ng-repeat="role in roles">
                        <th class="col-md-6">{{role}}</th>
                        <th class="col-md-6">
                            <button class="btn btn-danger pull-right" ng-click="removeRole(role)"
                                ng-class="{'disabled':hasRole(role) < 0}">Ukloni</button>
                            <button class="btn btn-success pull-right" ng-click="addRole(role)"
                                ng-class="{'disabled':hasRole(role) >= 0}">Dodaj</button>
                        </th>
                    </tr>
                </tbody>
              </table>
              
          </div>
      
          
      </div>   
   
      <form name="rForm" class="form-sue form-sue-g" ng-submit="changePass()" novalidate  ng-if="showSelectedUser">
        <div class="f-group">
          <h1>Promjena lozinke</h1>
        </div>

        <div class="f-group f-has-error">
          <div class="f-hb" ng-repeat="err in errors">
            {{err}}
          </div>
        </div>

        <div class="f-group" ng-class="{'f-has-error':rForm.password.$invalid && rForm.password.$touched}">
          <label for="rPassword">Nova lozinka</label>
          <input type="password" class="f-ctrl" id="rPassword"
            name="password" ng-model="model.NewPassword" placeholder="Nova lozinka"
            required ng-minlength="8">
          <p class="f-hb" ng-if="rForm.password.$invalid && rForm.password.$touched">
            <span ng-if="rForm.password.$error.required" translate="REG.REQUIRED">Required.</span>
            <span ng-if="rForm.password.$error.minlength" translate="REG.PASS_SHORT">
              Password need to have at least 8 chars.
            </span>
          </p>
        </div>

        <div class="f-group" ng-class="{'f-has-error':rForm.confirmPassword.$invalid && rForm.confirmPassword.$touched}">
          <label for="rConfirmPassword">Ponovite novu lozinku</label>
          <input type="password" class="f-ctrl" id="rConfirmPassword"
            name="confirmPassword" placeholder="Ponovite novu lozinku"
            required ng-model="model.RPassword" confirm-password="model.NewPassword">
          <p class="f-hb" ng-if="rForm.confirmPassword.$invalid && rForm.confirmPassword.$touched">
            <span ng-if="rForm.confirmPassword.$error.required" translate="REG.REQUIRED">Required.</span>
            <span ng-if="rForm.confirmPassword.$error.confirm" translate="REG.PASS_NOT_SAME">Passwords are not same.</span>
          </p>
        </div>

        <div class="f-group">
          <button type="submit" class="f-btn pull-right" name="button"><!--
          --><span>Promijeni lozinku</span><!--
        --></button>

        </div>

      </form>
   
   </div>
    
    <!-- END of .right-panel -->
</div>