<div class="about">
  <p>
    <div class="heading" translate="A.H">We are an <b>innovative</b> company, very future-oriented in both our - thinking and in our actions thus incorporating
    these 3 rules in its daily business dealings:</div>
  <br>
    <ul>
      <li translate="A.LI1"> <b>Our Mission</b> – finding, developing and using the latest in water treatment technologies</li>
      <li translate="A.LI2"> <b>Training</b> – Constant trainings of our employees ensures that the we are always informed about the latest technologies. This concept is then completed through the regular and constructive exchange of ideas between customers and us.</li>
      <li translate="A.LI3"> <b>Fair Dealings</b> – with our business partners and our employees we guarantee the highest ecological and economical balance of all our systems, services and products.</li>
    </ul>
    <br>
    <span translate="A.F">
      We think and work for the future. Gathering the latest technology and developments in the field of water treatment ensure that we meet this concept. Our overall concept is our flexibility. Having regular, constructive exchange of ideas between our customers and the company helps us understand their needs and that makes us a better company. For that reason we created a team of professional  experts.
    </span>
  </p>

</div>
