<div class="container" style="padding:80px 20px;">
    
   
  <div class="row">
    <div class="col-md-4"><a href="#" class="admin-card">Alfa</a></div>
    <div class="col-md-4"><a href="#" class="admin-card">Bravo</a></div>
    <div class="col-md-4"><a href="#" class="admin-card">Charlie</a></div>
    <div class="col-md-4"><a href="#" class="admin-card">Delta</a></div>
    <div class="col-md-4"><a href="#" class="admin-card">Echo</a></div>
    <div class="col-md-4"><a href="#" class="admin-card">Foxtrot</a></div>
    <div class="col-md-4"><a href="#" class="admin-card">Golf</a></div>
    <div class="col-md-4"><a href="#" class="admin-card">Hotel</a></div>
   </div>
</div>