<div class="container">

    <div class="register-panel col-md-6 col-md-offset-3">

      <form name="rForm" class="form-sue form-sue-g" ng-submit="changePass()" novalidate>
        <div class="f-group">
          <h1>Promjena lozinke</h1>
        </div>

        <div class="f-group f-has-error">
          <div class="f-hb" ng-repeat="err in errors">
            {{err}}
          </div>
        </div>

        <div class="f-group" ng-class="{'f-has-error':rForm.oldPassword.$invalid && rForm.oldPassword.$touched}">
          <label for="rOldPassword">Trenutna lozinka</label>
          <input type="password" class="f-ctrl" id="rPassword"
            name="oldPassword" ng-model="model.OldPassword" placeholder="Trenutna lozinka"
            required ng-minlength="8">
          <p class="f-hb" ng-if="rForm.oldPassword.$invalid && rForm.oldPassword.$touched">
            <span ng-if="rForm.oldPassword.$error.required" translate="REG.REQUIRED">Required.</span>
            <span ng-if="rForm.oldPassword.$error.minlength" translate="REG.PASS_SHORT">
              Password need to have at least 8 chars.
            </span>
          </p>
        </div>

        <div class="f-group" ng-class="{'f-has-error':rForm.password.$invalid && rForm.password.$touched}">
          <label for="rPassword">Nova lozinka</label>
          <input type="password" class="f-ctrl" id="rPassword"
            name="password" ng-model="model.NewPassword" placeholder="Nova lozinka"
            required ng-minlength="8">
          <p class="f-hb" ng-if="rForm.password.$invalid && rForm.password.$touched">
            <span ng-if="rForm.password.$error.required" translate="REG.REQUIRED">Required.</span>
            <span ng-if="rForm.password.$error.minlength" translate="REG.PASS_SHORT">
              Password need to have at least 8 chars.
            </span>
          </p>
        </div>

        <div class="f-group" ng-class="{'f-has-error':rForm.confirmPassword.$invalid && rForm.confirmPassword.$touched}">
          <label for="rConfirmPassword">Ponovite novu lozinku</label>
          <input type="password" class="f-ctrl" id="rConfirmPassword"
            name="confirmPassword" placeholder="Ponovite novu lozinku"
            required ng-model="model.RPassword" confirm-password="model.NewPassword">
          <p class="f-hb" ng-if="rForm.confirmPassword.$invalid && rForm.confirmPassword.$touched">
            <span ng-if="rForm.confirmPassword.$error.required" translate="REG.REQUIRED">Required.</span>
            <span ng-if="rForm.confirmPassword.$error.confirm" translate="REG.PASS_NOT_SAME">Passwords are not same.</span>
          </p>
        </div>

        <div class="f-group">
          <button type="submit" class="f-btn pull-right" name="button"><!--
          --><span>Promijeni lozinku</span><!--
        --></button>

        </div>

      </form>

  </div> <!-- END of .right-panel -->
</div>
